<h1>Carrito</h1>
<ul>
  {{#each cart.products}}
    <li>
      {{this.product.title}} - Cantidad: {{this.quantity}} - Precio: ${{this.product.price}}
    </li>
  {{/each}}
</ul>
<a href="/products">Volver a productos</a>