<h1>Real Time Products</h1>

<form id="productForm">
  <input type="text" id="title" placeholder="Product Title" required />
  <input type="number" id="price" placeholder="Product Price" required />
  <button type="submit">Add Product</button>
</form>

<ul id="productList">
  {{#each products}}
    <li>{{this.title}} - ${{this.price}}</li>
  {{/each}}
</ul>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realtime.js"></script>
